<!-- TODO: Not even using this -> i should -->
<div id="commandBarAboutOverlay"
    style="width: 100%; height: 360px; background-color: white; position: absolute; top: 50px; border: solid 1px lightgray; border-radius: 2px; display: none;">
    <div id="commandBarAboutOverlayAsi" style="width: 45%; height: 100%; float: left; margin: 1rem; padding: 1rem;  ">
        <h2>iMIS Work Bar: Let's get to work. </h2>
        <p>Putting time back in the day for associations and non-profits to focus where it matters.</p>
        <div id="commandBarAboutOverlayAsiLogo" style="text-align: center; width: 300px; margin: 0 auto;">
            <img src="https://www.advsol.com/images/NewSite/Logos/logo_imisems_400w.png" />
        </div>
    </div>
    <div id="commandBarAboutOverlayCsi"
        style="width: 30%; height: auto; float: right; padding: 1rem; vertical-align: bottom;  margin-top: 155px; ">
        <h6 style="margin-left: 8px;">Imagined By</h6>
        <hr style="margin-top: 0px;" />
        <div style="margin: 0 auto; text-align: center">
            <i class="csiLogo"></i><br />
            <span style="font-size: 11px; font-weight: 500; color: darkgray; ">csiinc.com</span>
        </div>
    </div>
</div>