<div id="UserDetailsTab" style="display: none;">
    <div class="stack">
        <div id="userCardProfile" class="userDetails">
            <h3 id="destinationUsersName" style="color: #005e7d; margin: 2px"></h3>
            <div id="details" style="font-size: 90%;">
                <div id="userDetailsTop" style="margin: 0px 0px 5px 1px;">
                    <span id="destinationUsersId" class="userDetails userSpecificDetail userIndividual"></span>
                    <span id="destinationUsersStatus" class="userDetails userSpecificDetail userIndividual"></span>
                    <span id="destinationUsersMemberType" class="userDetails userSpecificDetail"></span>
                </div>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersBirthdate"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersPhoneNumber0"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersPhoneNumber1"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersEmail1"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersEmail2"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersEmail3"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersAddress0"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersAddress1"></span>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersAddress2"></span>
                <h5 style="margin-top: 3rem" class="userDetails userSpecificDetail displayBlock"
                    id="destinationUsersCompanyName"></h5>
                <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersTitle"></span>
            </div>
        </div>
        <div id="userCardActions" class="userDetails"></div>
    </div>
    <div id="commandBarDocumentationSearchArea" style="display: block;">
        <div id="commandBarDocumentationInput">
            <div class="userDetails" id="userCardChangeDetails">
                <span id="destinationUsersCreatedOn"></span>
                <span id="destinationUsersCreatedBy"></span>
                <span id="destinationUsersUpdatedOn"></span>
                <span id="destinationUsersUpdatedBy"></span>
                <span id="destinationUsersUsername"></span>
            </div>
        </div>
    </div>
</div>