<div id="commandBarOverlay" class="__csi__iep__search commandBarPanelShadow" style="display: none;">
    <a id="csilogo" href="https://www.csiinc.com/" target="_blank" rel="nofollow">
        <div id="logo-placeholder"></div>
    </a>
    <div id="commandBarPalette">
        <div id="commandBarExitButton"></div>
        <div id="commandBarInputDiv">
            <input id="commandBarInput" placeholder="Let's get to work." autocomplete="off" />
            <div class="error" title="The iMIS ID entered does not match any records." style="display: none;">No
                Matching ID!</div>
        </div>
        <div id="commandBarOptionsArea" style="width: 100%; margin-top: 6px; display: flex;">
            <div id="commandBarOptions" style="height: 100%; padding:0px;">
                <div class="loaderParent" style="height: 380px; display: none;">
                    <span class="loader"></span>
                </div>
                <div id="CommandBarSelectTab">
                    <ul id="commandBarUl">
                    </ul>
                </div>
                <div id="UserDetailsTab"></div>
                <div id="EventDetailsTab"></div>
            </div>
            <div id="commandBarAboutOverlay">
                <div id="commandBarAboutOverlayAsi" style="width: 45%; height: 100%; float: left; padding: 2rem;">
                    <h2>iMIS Work Bar: Let's get to work.</h2>
                    <p>Putting time back in the day for associations and non-profits to focus where it matters.</p>
                    <div id="commandBarAboutOverlayAsiLogo" style="text-align: center; width: 300px; margin: 0 auto;">
                        <img src="https://www.advsol.com/images/NewSite/Logos/logo_imisems_400w.png" />
                    </div>
                </div>
                <div id="commandBarAboutOverlayCsi" style="width: 30%; float: right; padding: 2rem; ">
                    <h6 style="margin-left: 8px;">Imagined By</h6>
                    <hr style="margin-top: 0px;" />
                    <div style="margin: 0 auto; text-align: center">
                        <i class="csiLogo"></i><br />
                        <span style="font-size: 11px; font-weight: 500; color: darkgray; ">csiinc.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="commandBarSupportButtons"
            style="background-color: rgb(242,242,243); padding: 6px; text-align: center; display:block;">
            <a class="commandBarButton" href="https://www.imis.com/ASI_Learning_Hub/SSO-LearningHub.aspx"
                target="_blank">
                <span class="badge">
                    iMIS Learning Hub<i class="externalIconWhite"></i>
                </span>
            </a>
            <a class="commandBarButton" href="https://www.imismarketplace.com/" target="_blank">
                <span class="badge">
                    iMIS Marketplace<i class="externalIconWhite"></i>
                </span>
            </a>
            <a class="commandBarButton" href="https://www.imis.com/IMIS20/partners/Partners/product_partners.aspx"
                target="_blank">
                <span class="badge">
                    iMIS Product Partners<i class="externalIconWhite"></i>
                </span>
            </a>
            <a class="commandBarButton" href="https://www.imis.com/SupportPortal" target="_blank">
                <span class="badge">
                    iMIS Support<i class="externalIconWhite"></i>
                </span>
            </a>
        </div>
    </div>
</div>