<div id="commandBarOverlay" class="commandBarPanelShadow"
    style="background-color: rgba(200,200,200,0.5);  z-index: 999; position: fixed; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); display: none;">
    <input id="commandBarExitButton" class="TextButton PrimaryButton btn" type="button" value="x" />
    <div id="commandBarPalette"
        style="width:60%; background-color: rgba(242,242,243,1); height: 450px; position: fixed; top: 20%; left: 25%; margin: 10px; border: solid 15px rgb(242,242,243);">
        <div id=" commandBarInputDiv">
            <input id="commandBarInput" placeholder="Let's get to work." autocomplete="off" />
        </div>
        <div id="commandBarOptionsArea" style="width: 100%; margin-top: 6px; display: flex;">
            <div id="commandBarOptions" style="height: 100%; padding:0px;">
                <div class="loaderParent" style="height: 340px; display: none;">
                    <span class="loader"></span>
                </div>
                <div id="CommandBarSelectTab">
                    <ul id="commandBarUl"
                        style="height: 300px; overflow-y: auto; margin: 0 4px 4px 4px; border-top: solid 4px white;">
                    </ul>
                    <div id="commandBarDocumentationSearchArea">
                        <div id="commandBarDocumentationInput">
                            <a id="documentationLinkDestination" href="https://help.imis.com/enterprise/index.htm"
                                target="_blank" style="display: block;">
                                <span class="TextButton"
                                    style="border: 1px solid lightgray; border-radius: 3px; background-color:#F4F5F7; font-size: 11px; padding: 2px .5ch; margin-right: 5px; color: #005e7d;">
                                    Search iMIS Documentation
                                    <i class="externalIconBlue"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="UserDetailsTab"></div>
            </div>
            <div id="commandBarAboutOverlay">
                <div id="commandBarAboutOverlayAsi" style="width: 45%; height: 100%; float: left; padding: 2rem;">
                    <h2>iMIS Work Bar: Let's get to work. </h2>
                    <p>Putting time back in the day for associations and non-profits to focus where it matters.</p>
                    <div id="commandBarAboutOverlayAsiLogo" style="text-align: center; width: 300px; margin: 0 auto;">
                        <img src="https://www.advsol.com/images/NewSite/Logos/logo_imisems_400w.png" />
                    </div>
                </div>
                <div id="commandBarAboutOverlayCsi" style="width: 30%; float: right; padding: 2rem; ">
                    <!-- style="width: 30%; height: auto; float: right; padding: 1rem; vertical-align: bottom;  margin-top: 155px; "> -->
                    <h6 style="margin-left: 8px;">Imagined By</h6>
                    <hr style="margin-top: 0px;" />
                    <div style="margin: 0 auto; text-align: center">
                        <i class="csiLogo"></i><br />
                        <span style="font-size: 11px; font-weight: 500; color: darkgray; ">csiinc.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="commandBarSupportButtons"
            style="background-color: rgb(242,242,243); padding: 6px; text-align: center; display:block;">
            <a class="commandBarButton" style="margin-left: 1rem;"
                href="https://www.advsol.com/ASI_Learning_Hub/SSO-LearningHub.aspx" target="_blank">
                <span class="badge" style="background-color:#23B4E8">iMIS Learning Hub<i
                        class="externalIcon"></i></span>
            </a>
            <a class="commandBarButton" style="margin-left: 1rem;" href="https://www.imismarketplace.com/"
                target="_blank">
                <span class="badge" style="background-color:#23B4E8">iMIS Marketplace<i class="externalIcon"></i></span>
            </a>
            <a class="commandBarButton" style="margin-left: 1rem;"
                href="https://www.advsol.com/IMIS20/partners/Partners/product_partners.aspx" target="_blank">
                <span class="badge" style="background-color:#23B4E8">iMIS Product Partners<i
                        class="externalIcon"></i></span>
            </a>
            <a class="commandBarButton" style="margin-left: 1rem;"
                href="https://help.imis.com/enterprise/features/glossary.htm" target="_blank">
                <span class="badge" style="background-color:#23B4E8">iMIS Glossary<i class="externalIcon"></i></span>
            </a>
            <a class="commandBarButton" style="margin-left: 1rem;" href="https://www.advsol.com/SupportPortal"
                target="_blank">
                <span class="badge" style="background-color:#23B4E8">iMIS Support<i class="externalIcon"></i></span>
            </a>
            <a id="workBarAboutButton" style="margin-left: 1rem;" class="commandBarButton" href="#">
                <span class="badge bg-success">About</span>
            </a>
        </div>
    </div>
</div>