<div id="commandBarOverlay">
    <div id="commandBarExit">
        <input id="commandBarExitButton" class="TextButton PrimaryButton btn" type="button" value="Close" />
    </div>
    <div id="commandBarPalette">
        <div id="commandBarInputDiv">
            <input id="commandBarInput" placeholder="Let's get to work." />
            <div id="commandBarPartyUrl"></div> <!-- TODO: does this do anything? -->
        </div>
        <div id="commandBarOptionsArea" style="width: 100%; margin-top: 6px;">
            <div id="commandBarOptions" style="width: 100%; height: 315px; background-color: white; padding: 5px;">
                <div id="commandBarSelect">
                    <ul id="commandBarUl" style="-webkit-padding-start: 0; height: 300px; overflow-y: auto;">
                    </ul>
                </div>
                <div class="userDetails" id="userCardProfile"
                    style="width: 65%; border: solid 1px rgba(231,231,231,.9); border-radius: 2px; padding: 2px; float: left; height: 100%; ">
                    <h3 id="destinationUsersName" style="color: #005e7d; margin: 2px"></h3>
                    <div style="font-size: 90%;">
                        <div style="margin: 0px 0px 5px 1px; " id="userDetailsTop ">
                            <span class="userDetails userSpecificDetail userIndividual" id="destinationUsersId"></span>
                            <span class="userDetails userSpecificDetail userIndividual"
                                id="destinationUsersStatus"></span>
                            <span class="userDetails userSpecificDetail" id="destinationUsersMemberType"></span>
                        </div>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersBirthdate"></span>
                        <span class="userDetails userSpecificDetail displayBlock"
                            id="destinationUsersPhoneNumber0"></span>
                        <span class="userDetails userSpecificDetail displayBlock"
                            id="destinationUsersPhoneNumber1"></span>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersEmail1"></span>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersEmail2"></span>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersEmail3"></span>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersAddress0"></span>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersAddress1"></span>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersAddress2"></span>
                        <h5 style="margin-top: 3rem" class="userDetails userSpecificDetail displayBlock"
                            id="destinationUsersCompanyName"></h5>
                        <span class="userDetails userSpecificDetail displayBlock" id="destinationUsersTitle"></span>
                    </div>
                </div>
                <div class="userDetails" id="userCardActions"
                    style="width: 34%; border: solid 1px rgba(231,231,231,.9); border-radius: 2px; padding: 2px; float: right; height: 100%; background-color: rgb(242,242,243);">
                    <div id="userCardGoToProfile" class="userCardActionArea"></div>
                    <div id="userCardGoToProfileNewTab" class="userCardActionArea"></div>
                    <div id="userCardUserCredentials" class="userCardActionArea"></div>
                </div>
            </div>
            <div id="commandBarDocumentationSearchArea" style="width: 100%; height: 30px; margin-top: 7px;">
                <div id="commandBarDocumentationInput"
                    style="width: 100%; height: 100%; background-color: white; padding: 4px; font-size: 90%; font-weight: 500; color: #005e7d;">
                    <a id="documentationLinkDestination" href="https://help.imis.com/enterprise/index.htm"
                        target="_blank">
                        <span class="TextButton"
                            style="border: 1px solid lightgray; border-radius: 3px; background-color:#F4F5F7; font-size: 11px; padding: 2px .5ch; margin-right: 5px; color: #005e7d;">
                            Search iMIS Documentation {externalIconBlue}
                        </span>
                    </a>
                </div>
                <div class="userDetails" id="userCardChangeDetails"
                    style="width: 100%; padding: 3px; font-size: 90%; text-align: right; color: #686868; margin-top: -27px;">
                    <span id="destinationUsersCreatedOn"></span>
                    <span id="destinationUsersCreatedBy"></span>
                    <span id="destinationUsersUpdatedOn"></span>
                    <span id="destinationUsersUpdatedBy"></span>
                    <span id="destinationUsersUsername"></span>
                </div>
            </div>
            <div id="commandBarAboutOverlay"
                style="width: 100%; height: 360px; background-color: white; position: absolute; top: 50px; border: solid 1px lightgray; border-radius: 2px;">
                <div id="commandBarAboutOverlayAsi"
                    style="width: 45%; height: 100%; float: left; margin: 1rem; padding: 1rem;  ">
                    <h2>iMIS Work Bar: Let's get to work. </h2>
                    <p>Putting time back in the day for associations and non-profits to focus where it matters.</p>
                    <div id="commandBarAboutOverlayAsiLogo" style="text-align: center; width: 300px; margin: 0 auto;">
                        <img src="https://www.advsol.com/images/NewSite/Logos/logo_imisems_400w.png" />
                    </div>
                </div>
                <div id="commandBarAboutOverlayCsi"
                    style="width: 30%; height: auto; float: right; padding: 1rem; vertical-align: bottom;  margin-top: 155px; ">
                    <h6 style="margin-left: 8px;">Imagined By</h6>
                    <hr style="margin-top: 0px;" />
                    <div style="margin: 0 auto; text-align: center">
                        {csiLogo.svg}<br />
                        <span style="font-size: 11px; font-weight: 500; color: darkgray; ">csiinc.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="commandBarButtonArea"
            style="width: 100%; background-color: rgb(242,242,243); height: 32px; padding: 6px; text-align: center; ">
            <a class="commandBarButton" style="margin-left: 1rem;"
                href="https://www.advsol.com/ASI_Learning_Hub/SSO-LearningHub.aspx" target="_blank">
                <span class="badge" style="background-color:#23B4E8">iMIS Learning Hub {externalIcon}</span></a>
            <a class="commandBarButton" style="margin-left: 1rem;" href="https://www.imismarketplace.com/"
                target="_blank"><span class="badge" style="background-color:#23B4E8">iMIS Marketplace' + externalIcon +
                    '</span></a>
            <a class="commandBarButton" style="margin-left: 1rem;"
                href="https://www.advsol.com/IMIS20/partners/Partners/product_partners.aspx" target="_blank"><span
                    class="badge" style="background-color:#23B4E8">iMIS Product Partners' + externalIcon + '</span></a>
            <a class="commandBarButton" style="margin-left: 1rem;"
                href="https://help.imis.com/enterprise/features/glossary.htm" target="_blank"><span class="badge"
                    style="background-color:#23B4E8">iMIS Glossary' + externalIcon + '</span></a>
            <a class="commandBarButton" style="margin-left: 1rem;" href="https://www.advsol.com/SupportPortal"
                target="_blank"><span class="badge" style="background-color:#23B4E8">iMIS Support' + externalIcon +
                    '</span></a>
            <a id="workBarAboutButton" style="margin-left: 1rem;" class="commandBarButton" href="#"><span
                    class="badge bg-success">About</span></a>

        </div>
    </div>
</div>